{% extends 'base4.html.twig' %}

{% block title %}Modification Publication{% endblock %}

{% block contenue %}
    <h1>Modification Publication</h1>

    {{ include('publication/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('publication_index') }}">back to list</a>

    {{ include('publication/_delete_form.html.twig') }}
{% endblock %}
