{% extends 'base4.html.twig' %}

{% block title %}Nouvel Publication{% endblock %}

{% block contenue %}
    <h1>Nouvel Publication</h1>

    {{ include('publication/_form.html.twig') }}

    <a href="{{ path('publication_index') }}">Retour</a>
{% endblock %}
