.boxrubrique {    
    /* width: 100%; */
    border: 1px solid rgb(28, 177, 214);
    padding: 20px;
    margin: 20px;
    background-color: rgb(28, 177, 214);
    /* align-self: center;
    align-content: center;
    align-items: center; */
}

.titrerubrique {
    text-align: left;
    font-weight: bold;
    font-size: 14;
}

.contenuerubrique {
    text-align: left;
}

.lirelasuite {
    text-align: right;
    font-weight: bold;
}

.formulaireproposition {
    padding: 50px;
    margin: 50px;
    text-align: center;
}