{% extends 'base4.html.twig' %}

{% block title %}Modification Partenaire{% endblock %}

{% block contenue %}
    <h1>Modification Partenaire</h1>

    {{ include('partenaire/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('partenaire_index') }}">Retour</a>

    {{ include('partenaire/_delete_form.html.twig') }}
{% endblock %}
