{% extends 'base4.html.twig' %}

{% block title %}Nouveau Partenaire{% endblock %}

{% block contenue %}
    <h1>Nouveau Partenaire</h1>

    {{ include('partenaire/_form.html.twig') }}

    <a href="{{ path('partenaire_index') }}">Retour</a>
{% endblock %}
