<form method="post" action="{{ path('image_publication_delete', {'id': image_publication.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_publication.id) }}">
    <button class="btn">Delete</button>
</form>
