 <!-- ======= Footer ======= -->
  <footer id="footer" class="footer"> 
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>L'Entrepot-Eco</span></strong>. Tous droits reservés
      </div>
      <div class="credits">
        Designed by <a href="mailto:husaynmozart@gmail.com">HMA Corporate.</a>
      </div>
    </div>
  </footer><!-- End Footer -->
