{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
  <br>
  <br>
  <br>
  <br>
  <div><h2>{{ titre_rubrique }}</h2></div>

  <br>
  <div class="boxrubrique">
    <div class="titrerubrique">teste</div>
    <div class="contenuerubrique">exemple de texte</div>
  </div>
{% endblock %}
