<form method="post" action="{{ path('typeprojet_delete', {'id': typeprojet.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type de projet?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeprojet.id) }}">
    <button class="btn">Supprimer</button>
</form>
