{% extends 'base4.html.twig' %}

{% block title %}Modification Type de projet{% endblock %}

{% block contenue %}
    <h1>Modification Type de projet</h1>

    {{ include('typeprojet/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('typeprojet_index') }}">Retour</a>

    {{ include('typeprojet/_delete_form.html.twig') }}
{% endblock %}
