{% extends 'base4.html.twig' %}

{% block title %}Nouvel Type de projet{% endblock %}

{% block contenue %}
    <h1>Nouvel Type de projet</h1>

    {{ include('typeprojet/_form.html.twig') }}

    <a href="{{ path('typeprojet_index') }}">back to list</a>
{% endblock %}
