{# {% extends 'base.html.twig' %} #}

{% block title %}New Typeprojet{% endblock %}

{% block body %}
    <h1>Create new Typeprojet</h1>

    {{ include('typeprojet/_form.html.twig') }}

    <a href="{{ path('typeprojet_index') }}">back to list</a>
{% endblock %}
