{% extends 'base4.html.twig' %}

{% block title %}Nouvelle Proposition{% endblock %}

{% block contenue %}
    <h1>Nouvelle Proposition</h1>

    {{ include('proposition/_form.html.twig') }}

    <a href="{{ path('proposition_index') }}">back to list</a>
{% endblock %}
