<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>L'EntrepotEco - {% block title %}Bienvenue{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="dist/images/logo.png" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
        <link href="/dist/css/select2.css" rel="stylesheet"/>
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="theme/vendor/aos/aos.css" rel="stylesheet">
        <link href="theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="theme/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="theme/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="theme/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="theme/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="theme/css/style.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style2.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!--link rel="stylesheet" href="/dist/css/dropzone.css" /-->
        {# {{ encore_entry_link_tags('app') }} #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>
        <script src="/dist/js/select2.js"></script>
        <script src="/dist/js/up.js"></script>
                
        <!-- Vendor JS Files -->
        <script src="theme/vendor/aos/aos.js"></script>
        <script src="theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="theme/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="theme/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="theme/vendor/php-email-form/validate.js"></script>
        <script src="theme/vendor/purecounter/purecounter.js"></script>
        <script src="theme/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="theme/js/main.js"></script>
        <script src="js/main.js"></script>
        <!--script src="/dist/js/dropzone.js"></script-->
        {# {{ encore_entry_script_tags('app') }} #}
        {# <script>
            // init,configure dropzone
            Dropzone.autoDiscover = false;
            var dropzone_default = new Dropzone(".dropzone", {
                url: '{{ path('fileuploadhandler') }}' ,
                maxFiles: 1,
                dictMaxFilesExceeded: 'Only 1 Image can be uploaded',
                acceptedFiles: 'image/*',
                maxFilesize: 3,  // in Mb
                addRemoveLinks: true,
                init: function () {
                    this.on("maxfilesexceeded", function(file) {
                        this.removeFile(file);
                    });
                    this.on("sending", function(file, xhr, formData) {
                        // send additional data with the file as POST data if needed.
                        // formData.append("key", "value");  
                    });
                    this.on("success", function(file, response) {
                        if (response.uploaded) 
                            alert('File Uploaded: ' + response.fileName);
                    });
                }
            });
        </script> #}

        {#<script>
            $(document).ready(function(){
                url routing = '{{ path('upload_file') }}';
                $("#fileuploader").uploadFile({
                    url:routing,
                    fileName:"myfile"
                });
            });
        </script>#}
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
