{% extends 'base4.html.twig' %}

{% block title %}Modification Rubrique{% endblock %}

{% block contenue %}
    <h1>Modification Rubrique</h1>

    {{ include('rubrique/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('rubrique_index') }}">Retour</a>

    {{ include('rubrique/_delete_form.html.twig') }}
{% endblock %}
