{% extends 'base4.html.twig' %}

{% block title %}Nouvel Rubrique{% endblock %}

{% block contenue %}
    <h1>Nouvel Rubrique</h1>

    {{ include('rubrique/_form.html.twig') }}

    <a href="{{ path('rubrique_index') }}">back to list</a>
{% endblock %}
