{% extends 'base4.html.twig' %}

{% block title %}Modification Type de proposition{% endblock %}

{% block contenue %}
    <h1>Modification Type de proposition</h1>

    {{ include('typeproposition/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('typeproposition_index') }}">Retour</a>

    {{ include('typeproposition/_delete_form.html.twig') }}
{% endblock %}
