{% extends 'base4.html.twig' %}

{% block title %}Nouvel Type de proposition{% endblock %}

{% block contenue %}
    <h1>Nouvel Type de proposition</h1>

    {{ include('typeproposition/_form.html.twig') }}

    <a href="{{ path('typeproposition_index') }}">back to list</a>
{% endblock %}
